*.DS_Store

03_SQL/mysqldb
03_SQL/mysqlitems
**/.idea/
**/.ipynb_checkpoints/
**/kaggle_data/**
**/api_key
**/datadir
__pycache__/
07_Hadoop/**/*.zip
07_Hadoop/hadoop_cluster
07_Hadoop/**/*.csv
07_Hadoop/docker*
